/*Sorry Becco por tanto codigo :(*/
* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100vh;
    font-family: "DM Sans", sans-serif; 
    overflow-x: hidden;
}
/*Barra Navegadora*/
a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
nav{
    display: grid;
    grid-template-columns: 25% 10% 10% 10% 1fr;
    grid-template-rows: 1fr;
    gap:10px;
    padding:10px;
    align-items: center;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-top: 5px;
}
.wrong{color:red}
.correct{color:green}
.logo { 
    margin-left: 100px;
    grid-area: 1 / 1 / 2 / 2; 
    background-position: center;
    height: 55%;
}
.navNosotro { grid-area: 1 / 2 / 2 / 3; }
.navNoticias { grid-area: 1 / 3 / 2 / 4; }
.navAyuda { grid-area: 1 / 4 / 2 / 5; }
.buttonNav { 
    width: 100%;
    grid-area: 1 / 5 / 2 / 6; 
    justify-self: end;
    width: 200px;
    margin-right: 100px;
}
.Stylebutton{
    background-color: RGB(82,39,204);
    color: white;
    border-radius: 20px;
    border-color:transparent;
    padding: 8px;
    width: 120px;
}
/*Header*/ 
header{
    background-image: url("Materiales/Materiales/manos.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    height: 70vh;
}
.manos{
    background-color: rgba(1, 0, 51, 0.368);
    height: 100%;
}
.texto{
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    font-size:large;
}
h1{
    font-weight: lighter;
}
h2{
    font-weight: lighter;
    font-size: 30px;
}
/*Sección Nosotros*/
#nosotros{
    background-color: rgb(82,152,255);
    height: 100vh;
    width: 100%;
}
#gridNosotros{
    padding-top: 85px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    align-items: center;
    gap: 15px;
}
#imgEmp{
    margin-top: 100px;
    margin-left: 100px;
    padding-left: 50px;
    margin-top: 10px;
    grid-area: 1/1/2/2;
    width: 80%;
    height: 200px;
    justify-self:center;
}
#txtEmp{
    justify-self:left;
    margin-left: 30px;
    margin-right: 100px;
    margin-top: 10px;
    grid-area: 1/2/2/3;
    color: white;
    font-size: medium;
}
#txtOrg{
    margin-left: 100px;
    grid-area: 2/1/3/2;
    color: white;
    font-size:medium;
    justify-self:right;
    margin-right: 30px;
}
.boxImgOrg{
    padding: 10px;
}
#imgOrg{
    margin-top: 0%;
    margin-right: 100px;
    grid-area: 2/2/3/3;
    width: 80%;
    height: 200px;
}
/*Cuadrados de oportunidades*/
#oportunity{
    margin-top: 70px;
    height: 75vh;
    text-align: center;
}
.txtoprt{
    font-size: 36px;
}
.poprt{
    font-size: 15px;
}
#boxFour{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 1fr;
    justify-content: center;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 40px;
}
.boxes{
    height: 200px;
    width: 230px;
    padding: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40% 60%;
    border-radius: 25px;
    row-gap: 5px;
}
#boxVoluntario{
    background-color: rgb(220, 53, 69);
    grid-area: 1/1/2/2;
}
#boxDonar{
    background-color: rgb(255, 156, 7);
    grid-area: 1/2/2/3;
}
#boxReciclar{
    background-color: rgb(40, 167, 69);
    grid-area: 1/3/2/4;
}
#boxLlamados{
    background-color: rgb(23, 162, 184);
    grid-area: 1/4/2/5;
}
.imgLeft{
    grid-area: 1/1/2/2;
    padding: 30px;
    height: 60px;
    display: block;
    justify-content: left;
}
.imgRight{
    grid-area: 1/2/2/3;
    height: 20px;
    justify-self: end;
    padding: 20px;
}
.boxText{
    grid-area: 2/1/3/3;
    color:white;
    font-size: 28px;
    text-align: left;
    align-self: center;
    padding: 20px;
    font-weight: lighter;
}
/*Noticias*/
#news{
    height: 100vh;
    background-color: rgb(82,152,255);
    display: grid;
    grid-template-columns: 10% 20% 20% 20% 20% 10%;
    grid-template-rows: 23% 65% 12%;
}
.noticias{
    color: white;
    font-size: 45px;
    grid-area: 1 / 3 / 2 / 5;
    align-self: center;
    margin-left: 200px;
}
.linknews{
    color: white;
    font-weight: lighter;
    grid-area: 1 / 3 / 2 / 5;
    align-self: center;
    margin-left: 250px;
    margin-top: 60px;
    font-size: 12px;
    text-decoration-line: underline;
}
.boxOne{grid-area: 2 / 2 / 3 / 3;}
.boxTwo{grid-area: 2 / 3 / 3 / 4;}
.boxThree{grid-area: 2 / 4 / 3 / 5;}
.boxFour{grid-area: 2 / 5 / 3 / 6;}
.caja{
    background-color: white;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40% 10% 10% 10% 20% 10%;
    margin-right: 5px;
    margin-left: 5px;
}
.imgnoticia{
    grid-area: 1/1/3/3;
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.pfecha{
    grid-area: 3/1/4/2;
    font-size: 13px;
    text-align: right;
    margin-right: 30px;
    justify-self: end;
    margin-top: 12px;
}
.calendario{
    grid-area: 3/1/4/2;
    align-self: flex-start;
    margin-top: 8px;
    margin-left: 15px;
    width: 18px;
}
.phora{
    grid-area: 3/2/4/3;
    justify-self: end;
    margin-top: 10px;
    margin-right: 13px;
    font-size: 13px;
}
.reloj{
    grid-area: 3/2/4/3;
    align-self: flex-start;
    margin-left: 65px;
    margin-top: 8px;
    width: 18px;
}
.subtitulo{
    grid-area: 4/1/5/3;
    font-size: 14.5px;
    margin-left: 10px;
    font-weight: bold;
    margin-top: 10px;
}
.parrafo{
    grid-area: 5/1/6/3;
    font-size: 13px;
    margin-left: 10px;
    color: gray;
    margin-top: 10px;
}
.flecha{
    grid-area: 6/2/7/3;
    justify-self: start;
    margin-left: 50px;
    margin-top: 10px;
}
.vermas{
    grid-area: 6/2/7/3;
    font-size: 12px;
    justify-self: end;
    margin-right: 20px;
    margin-top: 10px;
    color: gray;
}
.carteles{
    grid-area: 2/1/3/2;
    width: 70px;
    height: 20px;
    background-color: RGB(82,39,204);
    border-radius: 10px;
    font-size: 12px;
    color: white;
    margin-left: 18px;
    border-width: 0px;
}
.cartel{
    grid-area: 2/1/3/2;
    width: 100px;
    height: 20px;
    background-color: RGB(82,39,204);
    border-radius: 10px;
    font-size: 12px;
    color: white;
    margin-left: 18px;
    border-color:transparent;
}
.carrusel{
    grid-area: 3/3/4/5;
    text-align: center;
    margin-top: 20px;
}
.boton{
    width: 35px;
    height: 35px;
    background-color: rgb(190, 190, 190);
    border-radius: 50px;
    border-color:transparent;
    margin-left: 20px;
    cursor: pointer;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
/*Formulario contacto*/
#contact{
    margin-left: 100px;
    margin-right: 100px;
    height: 70vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 70px 230px 70px;
    gap: 5px;
}

.imgcont{
    grid-area: 2 / 1 / 3 / 2;
    height: 230px;
    width: 550px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#dataForm{
    grid-area: 2/2/3/3;
}
.Boxone{
    margin-left: 20px;
    display: grid;
    gap: 10px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 20% 20% 30%;
    height: 200px;
}
.txtcont{
    grid-area: 1/1/2/3;
    text-align: center;
    font-size: 38px;
    font-weight: bolder;
}
.emailPos{
    grid-area: 2/1/3/2;
}

.phonePos{
    grid-area: 3/1/4/2;
}

.fullwidth{
    height: 25px;
    width: 93%;
    padding-left: 15px;
    border-radius: 7px;
    border-width: 1px;
    border-color: rgba(54, 54, 54, 0.349);
}
.textArea500pos{
    padding: 25px;
    grid-area: 2/2/4/3;
}
#textarea500{
    height:76px;
    padding-left: 5px;
    resize: none;
    font-family: "DM Sans", sans-serif; 
}
.pressButtonPos{grid-area: 4/1/5/3;text-align: center;}
#txtpressButton{margin-top: 20px; text-align: center;}
.btnsumbit{
    justify-self: center;
    align-self: center;
    height: 20px;
    font-size: smaller;
    padding: 0px;
    width: 80px;
}
.top{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-self: flex-start;
    font-size: x-small;
    font-weight: bold;
}
.down{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-self: flex-end;
}
/*Footer*/
.linea{
    height: 1.5vh;
    background-color: RGB(82,39,204);
}
.whiteline{
    height: 0.4vh;
    background-color: white;
}
footer{
    height: 40vh;
    background: linear-gradient(50deg, rgb(119,73,248),rgb(82,39,204)); 
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 70% 30%;
}
.logoBN{
    grid-area: 1 / 1 / 2 / 2;
    margin-left: 55%;
    margin-top: 40px;
    width: 175px;
}
.footerlist{
    grid-area: 1 / 2 / 2 / 3;
    margin-left: 70px;
    margin-top: 40px;
    color: white;
    font-weight: lighter;
    list-style: none;
    font-weight: bold;
    font-size: 15px;
}
.redessociales{
    grid-area: 1 / 3 / 2 / 4;
    margin-top: 25px;
    margin-left: 20px;
    font-size: 20px;
}
.Seguinos{
    color: white;
    margin-top: 10px;
    margin-right: 20px;
}
.facebook{
    width: 20px;
    height: 20px;  
}
.twitter{
    width: 20px;
    height: 20px;  
}
.instagram{
    width: 20px;
    height: 20px;  
}
/*Modal*/
.derechos{color: rgba(0, 0, 0, 0.596); font-size: smaller;margin-top: 10px; text-align: center;}
.lastline{grid-area: 2/1/3/4;}
.bottomline{
    height: 0.1px;
    background-color: white;
    
}
.open-modal {
    background-color: RGB(82,39,204);
    color: white;
    border-radius: 20px;
    border-color:transparent;
    padding: 8px;
    width: 200px;
    box-shadow: 0px 0px 5px 1px #000;
    justify-self: center;
}

.open-modal:hover {
    background: rgb(119,73,248);
    color: #fff;
}

#modalWindow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: rgba(0,0,0,0.8);
    display: grid;
    justify-items: center;
    align-items: center;
    pointer-events: none;
    max-height: 0;
    transition: max-height 500ms;
    height: 100vh;
    overflow-y: hidden;
    overflow: hidden;
}
#modalWindow:target {
    max-height: 100%;
    height: 100%;
    pointer-events: auto;
}

.modal-content {
    display: grid;
    justify-items: center;
    align-items: center;
    background: #fff;
    box-shadow: 0px 0px 5px 1px #000;
    grid-template-columns: 50% 50%;
    border-radius: 25px;
}
.cls-modal{
    width: 10px;
    text-align: right;
    justify-self: end;
}
.pointer{
    cursor: pointer;
}
.cls-modal:hover {
    font-weight: 600;
}
.modalImgBack{
    align-self: flex-start;
    justify-self: flex-start;
}

.modal-header {
    grid-area: 1/1/2/2;
    color: lightgray;
    width: 95%;
}
.modalImg{
    width: 100%;
    box-sizing: border-box;
    margin: 2px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.rightSideModal{
    height: 100%;
    width: 95%;
    display: grid;
    grid-template-rows: 5% 15% 40% 40%;
    justify-items: center;
}

.titleModal{
    grid-area: 2/1/3/2;
    justify-self: center;
    align-self: center;
    font-size: large;
    font-weight: bold;
}

.miEmpresa{
    width: 100%;
    grid-area: 3/1/4/2;
}
.boxsh .boxsh2{
    background-color: transparent;
}
.boxsh:hover{
    background-color: rgb(82,152,256);
    box-shadow: 0px 0px 5px 1px #000;
}
.boxsh:hover > .titleModalBoxes{
    color: white;
}
.boxsh:hover > .textModalBoxes{
    color: white;
}

.boxsh2:hover{
    background-color: rgb(119,73,248);
    box-shadow: 0px 0px 5px 1px #000;
}
.boxsh2:hover > .titleModalBoxes{
    color: white;
}
.boxsh2:hover > .textModalBoxes{
    color: white;
}
.fullLeftE{
    grid-area: 1/1/5/2;
    background-color: rgb(82,152,256);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.fullLeftO{
    grid-area: 1/1/5/2;
    background-color: rgb(119,73,248);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.ColorEmpresa{
    color: rgb(82,152,256);
}
.ColorOrganizacion{
    color: rgb(119,73,248);
}
.centrado{
    height: 40px;
    width: 40px;
    margin-top: 70%;
    margin-left: 25%;
}
.miOrganizacion{
    width: 100%;
    grid-area: 4/1/5/2;
}
.boxesModal{
    height: 70%; 
    width: 90%;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 45% 45% 5%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px #000;
}

.titleModalBoxes{
    grid-area: 1/2/2/3;
    margin-left: 10%;
    justify-self: left;
    align-self: center;
    font-weight: bold;
}

.textModalBoxes{
    grid-area: 2/2/3/3;
    margin-left: 10%;
    margin-right: 10%;
    justify-self: left;
    font-size: small;
    color: gray;
}
.modalImgNext{
    grid-area: 3/2/4/3;
    align-self: flex-end;
    justify-self: flex-end;
    margin-right: 10%;
}
.afterclick{
    width: fit-content;
    height: fit-content;
    font-size: 15px;
    background-color: #fff;
    color: #000;
    text-align: center;
    font-weight: bolder;
}
/*Adaptación Mobile*/
@media (max-height: 844px) {
    @media (max-width: 390px){
        .afterclick{
            font-size: 11px;
            font-weight: bolder;
            color: #000;
        }
        .modal-content{
            grid-template-columns: 100%;
            grid-template-rows: 100%;
            height: 50vh;
            width: 90vw;
        }
        .leftSideModal{
            display: none;
        }
        .rightSideModal{
            grid-area: 1/1/2/2;
        }
        .centrado{margin-left: 10px;}
        html{
            display: grid;
            grid-template-areas: 
            "nav"
            "header"
            "aboutUs"
            "oportunity"
            "news"
            "contact"
            "linea"
            "whiteline"
            "footer"
            ;
        }
        #inicio{
            grid-area: nav;
            display: grid;
            grid-template-columns: 33% 34% 33%;
            grid-template-rows: 60% 40%;
        }
        .logo{
            margin-left: 20px;
            grid-area: 1/1/2/3;
            height: 50px;
            width: 200px;
            justify-self: left;
        }
        .navNosotros{
            grid-area: 2/1/3/2;
        }
        .navNoticias{
            grid-area: 2/2/3/3;
        }
        .navAyuda{
            grid-area: 2/3/3/4;
        }
        .buttonNav{
            grid-area: 1/3/2/4;
            justify-self:normal;
        }
        header{
            grid-area: header;
            height: 400px;
        }
        #aboutUs{
            grid-area: aboutUs;
        }
        .manos{
            width: 100%;
            height: 400px;
            background-position: center;
            background-size: cover;
        }
        #nosotros{height: 112vh; margin-bottom: 20px;}
        #gridNosotros{
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 25% 25% 25% 25%;
            justify-content: center;
            padding-top: 35px;
        }

        .boxImgEmp{grid-area: 1/1/2/2;}
        #imgEmp{
            height:200px;
            padding-left: 0%;
            margin-left: 25px;
            margin-right: 25px;
            width: 90%;
        }
        #txtEmp{
            grid-area: 2/1/3/2;
            padding-left: 0%;
            margin-left: 15px;
            margin-right: 15px;
            text-align: center;
        }
        .titleMobile {
            font-size: 22px;
            font-weight: bold;
        }
        .boxImgOrg{grid-area: 3/1/4/2;}
        #imgOrg{
            height:200px;
            padding-left: 0%;
            margin-left: 15px;
            margin-right: 15px;
            width: 90%;
            text-align: center;
        }
        #txtOrg{
            grid-area: 4/1/5/2;
            padding-left: 0%;
            margin-left: 25px;
            margin-right: 25px;
            text-align: center;
        }
        .poprt{
            display: none;
        }

        #oportunity{
            grid-area: oportunity;
            height: max-content;
            margin-bottom: 100px;
        }
        #boxFour{
            grid-template-columns: 1fr;
            grid-template-rows: 25% 25% 25% 25%;
            gap: 15px;
        }
        #boxVoluntario{grid-area: 1/1/2/2;}
        #boxDonar{grid-area: 2/1/3/2;}
        #boxReciclar{grid-area: 3/1/4/2;}
        #boxLlamados{grid-area: 4/1/5/2;}

        #news{
            grid-area: news;
            grid-template-columns: 100%;
            grid-template-rows: 10% 5% 70% 15% ;
        }
        .noticias{grid-area: 1/1/2/2; text-align: center; margin-left: 0px;}
        .linknews{grid-area: 2/1/3/2; text-align: center; margin-left: 0px; margin-top: 0px;}
        .boxOne{grid-area: 3/1/4/2;}
        .boxTwo{grid-area: 3/1/4/2;}
        .boxThree{grid-area: 3/1/4/2;}
        .boxFour{grid-area: 3/1/4/2;}
        .carrusel{grid-area: 4/1/5/2;text-align: center; margin-left: 0px;}
        #contact{
            grid-area: contact;
            height: 35vh;
            display: grid;
            grid-template-columns: 100% !important;
            grid-template-rows: 100% !important;
            margin-left: 15px;
            margin-right: 15px;
            margin-bottom: 60px;
            margin-top: 60px;
            width: 90%;
        }
        #dataForm{grid-area: 1/1/2/2;}
        .Boxone{
            margin-left: 0px;
            display: grid;
            gap: 10px;
            grid-template-columns: 100%;
            grid-template-rows: 20% 15% 15% 15% 15% 25%;
            width: 100%;
        }
        #textarea500{
            width: 100%;
            padding-left: 15px;
        }
        .imgcont{display: none; grid-area: none;}
        .txtcont{grid-area: 1/1/2/2;}
        .emailPos{grid-area: 2/1/3/2;}
        .phonePos{grid-area: 3/1/4/2;}
        .textarea500pos{grid-area: 4/1/5/2;}
        .pressButtonPos{grid-area: 6/1/7/2;}
        .linea{
            grid-area: linea;
        }
        .fullwidth{width: 100%;}
        .whiteline{
            grid-area: whiteline;
        }
        footer{
            height: 100%;
            grid-area: footer;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 30% 40% 15% 15%;
            justify-items: center;
        }
        .Seguinos{margin-bottom: 20px;}
        .logoBN{grid-area: 1/1/2/2; margin-left: 0px; margin-top: 25px;}
        .footerlist{grid-area: 2/1/3/2; margin-left: 0px; margin-top: 25px; font-size: 20px; text-align: center;}
        .redessociales{grid-area: 3/1/4/2; margin-top: 25px; margin-left: 0px; font-size: 20px; justify-items: center; column-gap: 20px;}
        .lastline{grid-area: 4/1/5/2; margin-top: 25px;}
        .slideshow-container {
            max-width: 100%;
            position: relative;
            margin: auto;
            height: 100%;
        }
        /*Carrusel de Noticias*/
        
        /* Hide the images by default */
        .mySlides {
            display: none;
        }
        
        /* Next & previous buttons */
        .prev, .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            margin-top: -22px;
            padding: 16px;
            color: white;
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
        }
        
        /* Position the "next button" to the right */
        .next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }
        
        /* The dots/bullets/indicators */
        .active, .boton:hover {
            background-color: #717171;
        }
        
        /* Fading animation */
        .fade {
            animation-name: fade;
            animation-duration: 1.5s;
        }
        
        @keyframes fade {
            from {opacity: .4}
            to {opacity: 1}
        }
        .subtitulo{
        text-align: center;
        font-size: 23px;

        }
        .parrafo{
        margin-top: 20px;
        text-align: center;
        font-size: 18px;
        }
        .flecha{
        justify-self: right;
        margin-left: 50px;
        margin-top: 12px;
        margin-right: 70px;
    }
    .reloj, .pfecha{
        justify-self: center;
    }
}

}
/*Adaptación PC*/
@media (min-height: 800px) {
    @media (min-width: 1800px){
        .h1principal{
            font-size: 50px;
        }
        .pprincipal{
            font-size:  30px;
        }
    #imgEmp{
        margin-left: 120px;
        height: 350px;
    }
    #txtEmp{
        align-self: center;
        margin-left: 50px;
        margin-right: 150px;
        font-size: x-large;
    }
    #txtOrg{
        margin-left: 150px;
        font-size: x-large;
        margin-right: 50px;
    }
    #imgOrg{
        margin-right: 150px;
        height: 350px;
    }
    #oportunity{
        height: 70vh;
        font-size: x-large;
        font-weight: bolder;
    }
    .poprt{
        font-size: large;
        font-weight: normal;
    }
    #boxFour{
        margin-top: 100px;
    }
    .boxes{
        height: 240px;
        width: 320px;
        row-gap:  20px;
    }
    .imgLeft{
        padding: 20px;
        height: 80px;
    }
    .imgRight{
        height: 30px;
    }
    .boxText{
        font-size: 40px;
    }
    .noticias{
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
    }
    .linknews{
        text-align: center;
        
        margin-left: 0px;
        margin-right: 0px;
    }
    .subtitulo{
        font-size: 18px;
    }
    .parrafo{
        font-size: 15px;
    }
    .reloj, .pfecha{
        justify-self: center;
    }
    .flecha{
        margin-left: 100px;
    }
    .top{
        font-size: 15px;
    }
    .imgcont{
        width: 100%;
        height: 100%;
    }
    #contact{
        grid-template-rows: 25% 50% 25%;
    }
    .Boxone{
        height: 100%;
    }
    .txtcont{
        font-size: 50px;
    }
}
}